/* 
*   Stylesheet for the Country and City Pages
*/

/*
   CSS RESET RETRIEVED FROM
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

div,
h1,
h2,
p,
ul,
li,
form,
footer,
header,
section,
summary {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/*
    SET'S UP THE MAIN 3 COLUMN LAYOUT ---------------------------------------------------
*/
.main-container {
    display: grid;
    margin: 1em;
    padding: 1em;
    grid-template-columns: 15% 45% 40%;
    grid-template-rows: auto;
    grid-template-areas:
        "filter details photos"
        "filter details photos"
        "filter details photos";
}

/* Left Column */
.country-container {
    grid-area: filter;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

/* Center Column */
.details-container {
    grid-area: details;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

/* Right Column */
.country-photo-container {
    grid-area: photos;
    margin: 1em;
    padding: 1em;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

/* 
    COUNTRY-CONTAINER (LEFT COLUMN) LAYOUT ----------------------------------------------
*/

/* Creates box area for filters */
#country-filter {
    height: 10em;
    width: 80%;
    margin-right: 0;
    align-content: center;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

/* Creates scroll list for the countries */
#country-list {
    height: 30em;
    width: 80%;
    margin-right: 0;
    overflow-y: scroll;
    align-content: center;
}

/* Changes the Country Filter + List Names */
.country-container>h1 {
    font-size: 145%;
}

/* 
    DETAILS-CONTAINER (CENTER COLUMN) LAYOUT --------------------------------------------
*/

/* Styles the details section */
.details-list-section {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 10rem auto;
    padding: 1.25em;
    background-color: #fafafa;
    border-radius: 1em;
}

/* Increase the font size of titles in the details column */
.details-container>h1,
#country-city-list>h1,
.city-map-container>h1 {
    font-size: 150%;
}

/* Makes the selected country's name bold */
#main-area-name {
    font-weight: 700;
    font-size: 200%;
}

/* Creates scroll list for cities */
#cities-list {
    height: 15em;
    width: 92%;
    margin-right: 0;
    overflow-y: scroll;
}

/* 
    COUNTRY-PHOTO-CONTAINER (RIGHT COLUMN) LAYOUT ---------------------------------------
*/

/* Increases font size of country and city photo title */
.country-photo-container>h1 {
    font-size: 150%;
}
@media screen and (max-width: 900px) {
    .main-container{
        grid-template-columns: 100%;
        grid-template-rows: 25% 40% 35%;
    }

    .country-container{
        grid-column: 1/2;
        grid-row: 1/2;
    }

    #country-filter{
        height: 7em;
        width: 90%;
    }

    #country-list{
        height: 8em;
        width: 90%;
    }

    .details-container{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .country-photo-container{
        grid-column: 1/2;
        grid-row: 3/4;
    }
}