#container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    height: 50em;
}

#photo {
    padding-top: 3%;
    padding-left: 1%;
    padding-right: 1%;
    grid-column: 1;
}

#photoInfo {
    padding: 1%;
}

#photo img {
    max-height: 100%;
    max-width: 100%;
    width: 70em;
    height: 50em;
    display: block;
}

main {
    padding-bottom: 15%;
}

#infoContainer {
    padding: 1%;
    padding-right: 5%;
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 30% 70%;
}

#bottomInfo {
    grid-column: 1/3;
    grid-row: 2;
    display: grid;
    align-content: center;
    height: 100%;
    width: 100%;
}

#favorites {
    grid-column: 2;
    grid-row: 1;
    padding: 3;
    padding-top: 35%;
    padding-left: 20%;

}

#favorites p {
    text-align: center;
    align-content: center;
    padding-top: 15px;
    cursor: pointer;
    height: 40%;
    border-radius: 4px;
    margin: 10px;
    color: var(--colour-plain);
    background-color: var(--colour-special);
}

.tripleButton,
#button {
    text-align: center;
    align-content: center;
    padding-top: 1px;
    cursor: pointer;
    border-radius: 4px;
    margin: 10px;
    margin-right: 15px;
    color: var(--colour-plain);
    background-color: var(--colour-special);

}

#button {
    padding: 10%;
}

.tripleButton:hover,
#favorites p:hover {
    background-color: var(--colour-special2);
}

#photoInfo {
    grid-column: 1;
    grid-row: 1;
}

.tripleOption {
    grid-column: 1/4;
    border: 2px solid black;
    overflow-y: auto;
    border-radius: 10px;
    margin: 10px;
    padding: 3%;
    background-color: var(--colour-light);
    height: 25em;
}

#desc {
    text-align: center;
}

#details {
    display: none;
    align-content: center;
}

#details span {
    display: inline-flex;
    height: 50px;
    width: 50px;
    text-align: center;
    margin: 10px;
}

#details p {
    text-align: center;
}

#Map {
    display: none;
}

/* @media screen and (max-width: 768px) {

    #container {
        display: grid;
        grid-template-columns: 65% 35%;
        grid-gap: 1%;
    }

    #photos {
        padding-right: 0%;
        grid-column: 1;
    }

    #infoContainer {
        grid-row: 1;
        grid-column: 2;
    }

    .tripleButton {
        padding-top: 3%;

    }

    #favorites p {
        padding-top: 20px;
    }
} */