:root{
    --colour-dark:#d9d9d9;
    --colour-plain:white;
    --colour-light:ghostwhite;
    --colour-special:#ebd088;
    --colour-special2:#ffbf66;
}

.nav-header-main{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--colour-plain);
}

.nav-header-main ul{
    list-style-type: none;
}

.header-logo{
    float: left;
    margin-top: 10px;
}

.nav-header-main li {
    float: left;
}

.nav-header-main li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-header-main li a:hover{
    background-color: var(--colour-light);
}

.header-login {
    display: grid;
    justify-items: end;
    grid-template-columns: auto 100px 110px 120px;
    margin:0;
}

body{
    background-color: var(--colour-dark);
}

main {
    background-color: var(--colour-plain);
    margin-top: 15px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 15%;
}

.wrapper-main{
    display: table;
    height: 100%;
    margin: 0 auto;
}

.homebox{
    justify-content: center;
    justify-items: center;
    display:grid;
    grid-template-areas:
    "uinfo search"
    "favourites recommend";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.about{
    justify-content: center;
    justify-items: center;
    display:grid;
    grid-template-areas:
    "box box box box";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 4%;
}

.about h1,h2,h3
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.homebox .box{
    grid-area: box;
}

.box img{
    max-width: 140px;
}

.homebox .uinfo{
    grid-area: uinfo;
    background-color: var(--colour-dark);
    width: 100%;
    height: auto;

}
.homebox .search{
    grid-area: search;

}
.homebox .recommend{
    grid-area: recommend;
    background-color: var(--colour-dark);

}
.homebox .favourites{
    grid-area: favourites;

}

.section-default{
    display: table-cell;
    vertical-align: middle;
}

.form-signup{
    width: 300px;
}

input[type=text], select, [type=password]{
    padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--colour-dark);
  border-radius: 4px;
  box-sizing: border-box;
}

button[type=submit], .btn {
    background-color: var(--colour-special) ;
    color: var(--colour-plain);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

 button[type=submit]:hover, .btn:hover {
    background-color: var(--colour-special2);
  }

  .hero-image {
    background-image: url('../img/htoast.jpg');
    height: 30em;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  .hero-text h1{
      font-size: 5em;
      font-family: Arial, Helvetica, sans-serif;
  }

