* {
    margin:0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

/*Mobile Grid Sizing */
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "title title"
    "header header"
    "sidebar sidebar"
    "content content"
    "footer footer";
}

/*Individual Grid Objects*/
.title{
    grid-area: title;
    background-color: #9099A2;
}
.header{
    grid-area: header;
    background-color: #96858F;
}
.sidebar{
    grid-area: sidebar;
    background-color: #6D7993;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.content{
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: #d5d5d5;
}
.footer{
    grid-area: footer;
    background-color: #9099A2;
}


/* Desktop Grid Sizing */
@media screen and (min-width: 736px)
{
    .grid{
    display: grid;
    min-height: 100%;
    grid-template-columns: 8% 8% 1fr 8%;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    ". title title . "
    ". header header . "
    ". sidebar content . "
    ". footer footer .";
    }
    
    .sidebar{
    display: grid;
    grid-template-rows: 5% 5% 5%;
    grid-template-columns: 1fr;
    justify-content: center; 
    justify-items: center;
    }
}

/* Extra Class Styles */
.box img{
    max-height: 19%;
}