.box{
    height: 30px;
    width: 10%;
    background-color:azure;
    text-align: center;
}
.member {
    float: left;
    width: 25%;
    background-color: aliceblue
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}